/* CSS General */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el desplazamiento */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    font-family: 'Copperplate Gothic', sans-serif;
    background-image: url('imagenes/el-hombre-arana-lanzando-telarana_3840x2160_xtrafondos.com.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header, footer {
    text-align: center;
    background-color: #333; /* Color de fondo del encabezado y pie de página */
    color: white;
    width: 100%;
    padding: 1rem;
}

h1 {
    color: blue;
    text-align: center;
}

#puzzles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.puzzle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrar verticalmente el contenido */
    margin-bottom: 20px;
    position: relative; /* Añadir posición relativa para el posicionamiento del botón */
    text-align: center; /* Alinear el contenido del puzzle-wrapper */
}

.puzzle-wrapper button {
    margin-top: 10px; /* Ajustar el margen superior del botón */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .puzzle-wrapper button {
        margin-top: 20px; /* Ajustar el margen superior del botón en dispositivos móviles */
    }
}

.puzzle-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 3px;
    margin-bottom: 10px;
    width: 410px;  /* Ajuste para mantener las piezas contenidas */
    height: 510px; /* Ajuste para mantener las piezas contenidas */
    border: 2px solid #ccc; /* Opcional: borde alrededor del contenedor */
    position: relative; /* Permite posicionamiento relativo para el indicador de completado */
}

.puzzle-piece {
    width: 100px;
    height: 100px;
    background-size: 400px 500px; /* Ajuste para mantener la imagen en la misma escala */
    background-position: center;
    cursor: grab;
    border: 1px solid #ccc;
    transition: transform 0.2s;
}

.puzzle-piece:active {
    cursor: grab;
    transform: scale(1.1);
    z-index: 1000;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 10px;
    margin: 5px; /* Espacio entre los botones */
    text-align: center; /* Añadido para centrar el texto */
}

button:hover {
    background-color: blue;
}

.navigation {
    display: flex;
    justify-content: space-between; /* Distribuye los botones al principio y al final */
    align-items: flex-start; /* Centra verticalmente los botones */
    margin-top: -40px;
    width: 100%; /* Ancho completo para cubrir la pantalla */
    padding: 5px 5px; /* Ajustar el padding horizontal */
}

.nav-button {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 10px;
    display: flex; /* Ajusta el botón para contener la imagen */
    align-items: center; /* Centra la imagen verticalmente */
    margin-right: 17px; /* Ajusta el margen derecho según sea necesario */
}

.nav-button img {
    width: 40px; /* Ajusta el tamaño de la imagen según tu diseño */
    height: auto; /* Permite que la altura se ajuste automáticamente al ancho definido */
}

footer {
    margin-top: 20px;
    color: #666;
    text-align: center;
}

/* Estilo para el indicador de completado */
.completion-indicator {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Ajustar según el tamaño de la imagen del check */
    height: 50px; /* Ajustar según el tamaño de la imagen del check */
    top: calc(50% - 25px); /* Ajustar según el tamaño del rompecabezas */
    left: calc(50% - 25px); /* Ajustar según el tamaño del rompecabezas */
}

.completion-indicator img {
    width: 200px; /* Ajustar el tamaño de la imagen del check */
    height: 200px; /* Ajustar el tamaño de la imagen del check */
    background-size: cover; /* Ajustar según necesidad */
}
