/* CSS General */
body {
     font-family: 'Copperplate Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('imagenes/el-hombre-arana-lanzando-telarana_3840x2160_xtrafondos.com.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    padding-top: 20px;
}

header {
    margin-bottom: 20px;
}

h1 {
    color: blue;
    text-align: center;
}

#puzzles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.puzzle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.puzzle-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 3px;
    margin-bottom: 10px;
    width: 410px;  /* Ajuste para mantener las piezas contenidas */
    height: 510px; /* Ajuste para mantener las piezas contenidas */
    border: 2px solid #ccc; /* Opcional: borde alrededor del contenedor */
    position: relative; /* Permite posicionamiento relativo para el indicador de completado */
}

.puzzle-piece {
    width: 100px;
    height: 100px;
    background-size: 400px 500px; /* Ajuste para mantener la imagen en la misma escala */
    background-position: center;
    cursor: grab;
    border: 1px solid #ccc;
    transition: transform 0.2s;
}

.puzzle-piece:active {
    cursor: grab;
    transform: scale(1.1);
    z-index: 1000;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 10px;
}

button:hover {
    background-color: blue;
}

footer {
    margin-top: 20px;
    color: #666;
    text-align: center;
}

/* Estilo para el indicador de completado */
.completion-indicator {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Ajustar según el tamaño de la imagen del check */
    height: 50px; /* Ajustar según el tamaño de la imagen del check */
    top: calc(50% - 25px); /* Ajustar según el tamaño del rompecabezas */
    left: calc(50% - 25px); /* Ajustar según el tamaño del rompecabezas */
}

.completion-indicator img {
    width: 200px; /* Ajustar el tamaño de la imagen del check */
    height:200px; /* Ajustar el tamaño de la imagen del check */
    background-size: cover; /* Ajustar según necesidad */
}
